.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #fff;
    width: 250px;
    height: 320px;
    border-radius: 40px;
    padding: 0px 20px;
    gap:5px;
}
.imgCard{
    position: absolute;
    top: -60px;
    border-radius: 50%;
    /* border: 3px solid #53c28b; */
    border: 3px solid #e7c947;
}
.footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    /* background-color: #e7c847; */
    background-color: #FBCB05;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-around;
    padding: 15px 0px;
    color: #fff;
}
.Name{
    color: #000;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
}
.cargo{
    font-size: 0.9rem;
    color: #FBCB05;
    font-weight: 400;
}
.descCard{
    font-size: 1rem;
    color: #000;
    font-weight: 400;
    text-align:left;
    padding: 20px 0px;
}
